<config>
    <coreSignal name = "odboceni0">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>1</yIndex>  
    </coreSignal>  
    <signal name = "odboceni1">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>2</yIndex>  
    </signal>
    <signal name = "odboceni2">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>3</yIndex>  
    </signal>
    <signal name = "odboceni3">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>3</yIndex>  
    </signal>
    <signal name = "odboceni4">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>4</yIndex>  
    </signal>
    <signal name = "odboceni5">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>5</yIndex>  
    </signal>
    <signal name = "odboceni6">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>6</yIndex>  
    </signal>
    <signal name = "odboceni7">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>7</yIndex>  
    </signal>
    <signal name = "odboceni8">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>8</yIndex>  
    </signal>
    <signal name = "odboceni9">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>9</yIndex>  
    </signal>
    <signal name = "odboceni10">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>10</yIndex>  
    </signal>
    <signal name = "odboceni11">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>11</yIndex>  
    </signal>
    <signal name = "odboceni12">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>12</yIndex>  
    </signal>
    <signal name = "odboceni13">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>13</yIndex>  
    </signal>
    <signal name = "odboceni14">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>14</yIndex>  
    </signal>
    <signal name = "odboceni15">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>15</yIndex>  
    </signal>
    <signal name = "odboceni16">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>16</yIndex>  
    </signal>
    <signal name = "odboceni17">  
        <fp>odboceni.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>17</yIndex>  
    </signal>
    <signal name = "ekg0">  
        <fp>ekg.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>1</yIndex>  
    </signal>
    <signal name = "ekg1">  
        <fp>ekg.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>2</yIndex>  
    </signal>
    <signal name = "ekg2">  
        <fp>ekg.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>3</yIndex>  
    </signal>
    <signal name = "ekg3">  
        <fp>ekg.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>4</yIndex>  
    </signal>
    <signal name = "ekg4">  
        <fp>ekg.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>5</yIndex>  
    </signal>
    <signal name = "ekg5">  
        <fp>ekg.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>6</yIndex>  
    </signal>

    <signal name = "fixEvent">  
        <fp>fixation.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>1</yIndex>  
    </signal>
    <signal name = "fixX">  
        <fp>fixation.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>2</yIndex>  
    </signal>
    <signal name = "fixY">  
        <fp>fixation.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>3</yIndex>  
    </signal>  
    <signal name = "gazeEvent">  
        <fp>gaze.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>1</yIndex>  
    </signal>
    <signal name = "gazeX">  
        <fp>gaze.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>2</yIndex>  
    </signal>  
    <signal name = "gazeY">  
        <fp>gaze.csv</fp>  
        <delim>;</delim> 
        <xIndex>0</xIndex>  
        <yIndex>3</yIndex>  
    </signal>  

</config>  